<h2>Schedgy Administration</h2>

<%= link_to "Login", :controller => "schedgy", :action => "login" %><br />
<%= link_to "Create Tag", :controller => "schedgy", :action => "create_tag" %><br />
<%= link_to "Create User Role", :controller => "schedgy", :action => "create_role_type" %><br />
<%= link_to "Create User", :controller => "schedgy", :action => "create_user" %><br />
<%= link_to "Assign User to Role", :controller => "schedgy", :action => "assign_user_to_role" %><br />
<%= link_to "Change Password", :controller => "schedgy", :action => "change_password" %><br />
