<div id="schedgy-form">
	
<h2>Assign a User to a Role Type</h2>

<% if flash[:error] %>
	<strong><%= flash[:error]%></strong>
<% end %>

<% form_for :role_type, :url => { :action => "assign_user_to_role" } do |f| %>
	<%= f.error_messages %>
	<%= label(:user, :email) %><%= select("user", "email", @user_emails, {:include_blank => true}) %>
  	<%= label(:role_type, :name) %><%= select("role_type", "name", @role_type_names, {:include_blank => true}) %>
	<%= submit_tag 'Assign' %>
<% end %>

</div>