<%= link_to "Admin Options", :controller => "schedgy", :action => "admin" %>

<div id="schedgy-form">
	
<h2>Change Password</h2>

<% if flash[:error] %>
	<strong><%= flash[:error]%></strong>
<% end %>

<% if flash[:message] %>
	<strong><%= flash[:message]%></strong>
<% end %>

<% form_for :user,  :url => { :action => "change_password" } do |f| %>
	<%= f.error_messages %><br />
	<%= label(:user, :email) %><%= f.text_field :email %><br />
	<%= label(:user, :password) %><%= f.password_field :password %><br />
	<label for="new_password">New Password</label><input type="password" name="new_password" /><br />
	<label for="retype_new_password">Retype</label><input type="password" name="retype_new_password" /><br />
	<%= submit_tag 'Change Password' %>
<% end %>

</div>