<div id="schedgy-form">
	
<h2>Change Password</h2>

<% if flash[:error] %>
	<strong><%= flash[:error]%></strong>
<% end %>

<% if flash[:message] %>
	<strong><%= flash[:message]%></strong>
<% end %>

<% form_for :user,  :url => { :action => "change_password" } do |f| %>
	<%= f.error_messages %>
	<div class="input"><%= label(:user, :email) %><%= f.text_field :email %></div>
	<div class="input"><%= label(:user, :password) %><%= f.password_field :password %></div>
	<div class="input">
		<%= label_tag(:new_password) %><%= password_field_tag :new_password %>
	</div>
	<div class="input">
		<%= label_tag(:retype_new_password, 'Retype') %><%= password_field_tag :retype_new_password %>
	</div>
	<%= submit_tag 'Change Password' %>
<% end %>

</div>