<div id="schedgy-form">
	
<h2>Create a Schedgy User</h2>

<% if flash[:error] %>
	<strong><%= flash[:error]%></strong>
<% end %>

<% form_for :user,  :url => { :action => "create_user" } do |f| %>
	<%= f.error_messages %>
	<div class="input"><%= label(:user, :first_name) %><%= f.text_field :first_name %></div>
	<div class="input"><%= label(:user, :last_name) %><%= f.text_field :last_name %></div>
	<div class="input"><%= label(:user, :email) %><%= f.text_field :email %></div>
	<div class="input"><%= label(:user, :password) %><%= f.password_field :password %></div>
	<div class="input"><%= label(:user, :level) %><%= select("user", "level", @user_levels, {:include_blank => false}) %></div>
	<%= submit_tag 'Create' %>
<% end %>

</div>