<div id="schedgy-form">
	
<h2>Login</h2>

<% form_for :user,  :url => { :action => "login" } do |f| %>
	<%= f.error_messages %><br />
	<div class="input"><%= label(:user, :email) %><%= f.text_field :email %></div>
	<div class="input"><%= label(:user, :password) %><%= f.password_field :password %></div>
	<%= submit_tag 'Login' %>
<% end %>

</div>